body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Світлий фон */
    color: #333; /* Темний текст */
}

.container1 {
    max-width: 960px;
    padding: 0 20px;
}

.container1s {
    max-width: 960px;
    padding: 10px 20px;

}

header {
    background-color: #405de6; /* Синій колір */
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тінь */
    border-bottom: 1px solid #fff; /* Білий колір */
}

header .container h1 {
    margin: 0;
    font-size: 28px;
    color: #fff; /* Білий текст */
    display: inline;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    color: #fff; /* Білий текст */
    font-size: 18px;
}

header nav ul li button {
    background-color: #405de6; /* Синій колір */
    color: #fff; /* Білий текст */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    color: #fff; /* Білий текст */
    font-size: 18px;
}

/* Additional styles for links and buttons in header */
header nav ul li a {
    text-decoration: none;
    color: #fff; /* Білий текст */
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #405de6; /* Синій колір */
    border: 2px solid #405de6; /* Синя рамка */
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

header nav ul li button {
    text-decoration: none;
    color: #fff; /* Білий текст */
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #405de6; /* Синій колір */
    border: 2px solid #405de6; /* Синя рамка */
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

header nav ul li a:hover {
    background-color: #fff; /* Білий фон */
    color: #405de6; /* Синій колір */
    border-color: #405de6; /* Синя рамка */
}

header nav ul li button:hover {
    background-color: #fff; /* Білий фон */
    color: #405de6; /* Синій колір */
    border-color: #405de6; /* Синя рамка */
}

/* photos.css */

.container {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    flex-direction: column; /* Arrange items in a column */
    padding: 20px;
}

.content-center {
    text-align: center;
}

.image {
    max-width: 90%; /* Slightly smaller image */
    max-height: 70%; /* Slightly smaller image */
    object-fit: contain;
    margin-top: 20px; /* Adjust as needed to position the image */
}

.buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.comment-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px; /* Increased font size for larger buttons */
    margin: 5px;
    padding: 10px;
    color: #333;
}

.comment-btn i {
    margin-right: 5px;
}

.comment-btn:hover i {
    color: #3b2fc2; /* Change icon color on hover */
}

.comments-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    width: 100%; /* Full width of the container */
    max-width: 600px; /* Maximum width for comments section */
    margin-top: 20px;
}

.comment {
    margin-bottom: 10px;
}

.comment-input {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}

.comment-field {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
    max-width: 500px;
}

.submit-btn {
    background-color: #0095f6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #007bb5;
}

.button-form {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff; /* Білий текст */
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #405de6; /* Синій колір */
    border: 2px solid #405de6; /* Синя рамка */
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}


.name {
    position: absolute;
    top: 75px;
    left: 600px;

}

.discription {
    width: 100%;
    max-width: 1100px;
    max-height: 800px;
    margin: 0 auto;
    font-size: 1.5em;
    overflow: auto; /* Adds scroll if content exceeds max-height */
    margin-top: 50px;
    word-wrap: break-word; /* Prevents long words from breaking layout */
}

.comment-text {
    font-size: 1.75em; /* Increase the font size */
    line-height: 1.5; /* Increase line height for better readability */
    padding: 10px; /* Add some padding around the text */
    margin-bottom: 10px; /* Space between comments */
    border-radius: 8px; /* Round the corners of the background */
    width: 1100px;
}


#three-dots {
    background-color: transparent; /* Прозоре тло кнопки */
    border: none; /* Без рамки */
    cursor: pointer; /* Курсор при наведенні */
    opacity: 1; /* Прозорість кнопки */
    margin-left: 1150px; /* переміщення праворуч */
    top: -52px;
    position: relative; /* Відносне позиціонування */
    padding: 0; /* Прибираємо відступи */
    width: 24px; /* Задаємо ширину кнопки відповідно до розміру точок */
    height: 24px; /* Задаємо висоту кнопки відповідно до розміру точок */
    color: #000; /* Колір точок */
    font-size: 24px; /* Розмір точок */
    text-decoration: none;
}

p {
    width: 50ch; /* Обмежує ширину до 10 символів (ch означає ширину символу "0") */
    white-space: normal; /* Дозволяє переноси рядків */
    word-break: break-all; /* Дозволяє розривати слова на будь-якому місці */
}





.dots-btn {
    background-color: #405de6; /* Синій колір */
    color: #fff; /* Білий текст */
    border: none;
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    width: 150px;
}

.dots-btn2 {
    background-color: #405de6; /* Синій колір */
    color: #fff; /* Білий текст */
    border: none;
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    width: 150px;
    margin-top: 10px;
}

#dots {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    z-index: 9999; /* ensure it's above everything else */
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); /* semi-transparent black */
    z-index: 9998; /* ensure it's above everything except the code container */
}


