body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Світлий фон */
    color: #333; /* Темний текст */
}

.container1 {
    max-width: 960px;
    padding: 0 20px;
}

.container2 {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}



header {
    background-color: #405de6; /* Синій колір */
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тінь */
    border-bottom: 1px solid #fff; /* Білий колір */
}

header .container h1 {
    margin: 0;
    font-size: 28px;
    color: #fff; /* Білий текст */
    display: inline;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    color: #fff; /* Білий текст */
    font-size: 18px;
}

header nav ul li button {
    text-decoration: none;
    color: #fff; /* Білий текст */
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #fff; /* Білий текст */
}


.profile {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.profile img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
    border: 4px solid #fff; /* Білий колір */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тінь */
}



.profile-info p {
    margin: 5px 0;
    color: #666; /* Сірий текст */
    font-size: 16px; /* Розмір тексту */
    line-height: 1.5; /* Висота рядка */
}



button {
    background-color: #405de6; /* Синій колір */
    color: #fff; /* Білий текст */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}



.gallery {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.photo {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тінь */
}

.photo img {
    width: 100%;
    display: block;
    transition: transform 0.3s;
}

.photo:hover img {
    transform: scale(1.05); /* Збільшуємо розмір зображення при наведенні */
}

.photo:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(64, 93, 230, 0), rgba(64, 93, 230, 0.8)); /* Градієнт від прозорого до синього */
    opacity: 0;
    transition: opacity 0.3s;
}

.photo:hover:before {
    opacity: 1;
}

.photo:hover h3 {
    opacity: 1;
}

.photo h3 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
    color: #fff; /* Білий текст */
    font-size: 18px; /* Розмір тексту */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Додайте ці стилі до вашого styles.css файлу */

header nav ul li a {
    text-decoration: none;
    color: #fff; /* Білий текст */
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #405de6; /* Синій колір */
    border: 2px solid #405de6; /* Синя рамка */
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

header nav ul li button {
    text-decoration: none;
    color: #fff; /* Білий текст */
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #405de6; /* Синій колір */
    border: 2px solid #405de6; /* Синя рамка */
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

header nav ul li a:hover {
    background-color: #fff; /* Білий фон */
    color: #405de6; /* Синій колір */
    border-color: #405de6; /* Синя рамка */
}

header nav ul li button:hover {
    background-color: #fff; /* Білий фон */
    color: #405de6; /* Синій колір */
    border-color: #405de6; /* Синя рамка */
}



.photo_profile {
    display: block; /* Показати зображення за замовчуванням */
}

.hidden {
    display: none; /* Приховати зображення */
}

.butt-photo {
    background-color: rgb(240, 240, 240); /* Синій колір */
    color: rgb(240, 240, 240); /* Білий текст */

}


.butt-write {
    position: absolute;
    margin-top: 75px;
    margin-left: -30px;
    width: 150px;

}